{% extends 'nikolahub/base.html' %}

{% block title %}NikolaHub{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}</p>

    <pre>
        {{ user.social_auth.0.provider }}
        {{ user.social_auth.0.uid }}
        {{ user.social_auth.0.extra_data }}
    </pre>


    <a href="{% url 'social:disconnect' "github" %}" class="btn">Disconnect</a>
{% else %}
    <p>Welcome, new user. Please log in.</p>

    <a href="{% url 'social:begin' "github" %}" class="btn btn-lg"><i class="fa fa-github"></i>Login with Github</a>
{% endif %}
{% endblock %}